.app {
  display: flex;
  
  font-family: Montserrat, sans-serif;
}

.board {
  flex: 1;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.header {
  position: absolute;
  display: flex;

  padding-top: 10px;
  left: 64px;
  right: 0px;
  top: 0px;
  z-index: 1;
}

.storage-list {
  display: flex;
  margin-left: auto;
  overflow-x:auto;
}

.storage,
.active-storage {
  flex-shrink: 0;
  padding: 7px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #001F3F;
  border-width: 2px;
  border-style: solid;
  color:white;
  border-color: #001F3F;
  transition: all 0.2s;
  cursor: pointer;
}

.storage:hover {
  color: #6cbbfa;
  border-color: #6cbbfa;
  background-color: #eceff3;
}

.active-storage {
  color: #6cbbfa;
  border-color: #6cbbfa;
  background-color: #eceff3;
  cursor: default;
}

.search-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: gold;
  height: 60px;
  width: 60px;
  z-index: 1;
}

.search-image {
  height: 70%;
}

/* Storage */
.storage-container {
  display: inline-flex;
  flex-wrap: nowrap;
  padding: 10px;
  transform-origin: 0 0;
}

.column-container {
  align-self: start;
  width: 160px;
}

.column-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  border-bottom: 2px solid lightgray;
  margin-bottom: 10px;
}

.column-title {
  font-size: 20px;
  font-weight: bold;
}

.column-capacity {
  color: rgb(129, 129, 129);
}

.column-units {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  border-right: 2px solid lightgray;
}

.column-blank-unit,
.column-unit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-radius: 10px;
  color: white;
  background-color: lightgray;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  transition: transform 0.2s ease;
}

.column-unit:hover {
  transform: scale(1.05); /* Эффект увеличения при наведении */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.column-blank-unit-image {
  height: 40px;
}

.column-unit-title,
.column-unit-bordero,
.column-unit-shipment {
  width: 100%;
  text-align: center;
  font-weight: bold;
}


